@font-face {
  font-family: 'Montserrat 800';
  src: url("../assets/fonts/Montserrat-ExtraBold.ttf"); }
@font-face {
  font-family: 'Montserrat 700';
  src: url("../assets/fonts/Montserrat-Bold.ttf"); }
@font-face {
  font-family: 'Montserrat 400';
  src: url("../assets/fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: 'Montserrat 300';
  src: url("../assets/fonts/Montserrat-Light.ttf"); }
.nav {
  height: 70px;
  line-height: 70px;
  background: #84C440;
  margin: 0;
  padding: 0;
  width: 100vw; }
  .nav .content-margins {
    margin: 0 25px; }
    .nav .content-margins .logo {
      float: left; }
      .nav .content-margins .logo a img {
        width: 300px; }
    .nav .content-margins ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: right; }
      .nav .content-margins ul li {
        display: inline-flex;
        color: #d4de24; }
        .nav .content-margins ul li a, .nav .content-margins ul li a:visited {
          color: #d4de24;
          font-size: 16px; }
        .nav .content-margins ul li.divider {
          margin: 0 25px; }

footer {
  background-color: #009171; }
  footer .content-margins {
    margin: 0 25px; }
    footer .content-margins .row {
      width: 100%; }
      footer .content-margins .row.social-row {
        border-bottom: 4px solid #007257;
        margin-bottom: 40px; }
        footer .content-margins .row.social-row .footer-logo {
          width: 300px; }
        footer .content-margins .row.social-row .social-icons {
          text-align: right;
          list-style-type: none;
          line-height: 60px; }
          footer .content-margins .row.social-row .social-icons li {
            display: inline-flex;
            margin: 0 10px; }
            footer .content-margins .row.social-row .social-icons li a img {
              height: 35px;
              width: 35px; }
  footer .sub-footer {
    background-color: #007257;
    height: 70px;
    line-height: 70px; }
    footer .sub-footer p {
      color: #4DBFA8;
      font-size: 12px;
      text-align: right;
      line-height: 50px; }
    footer .sub-footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      footer .sub-footer ul li {
        display: inline-flex;
        color: #4DBFA8; }
        footer .sub-footer ul li a, footer .sub-footer ul li a:visited {
          color: #4DBFA8;
          font-size: 12px; }
        footer .sub-footer ul li.divider {
          margin: 0 25px; }

html {
  font-family: 'Montserrat 400', Arial, sans-serif; }

body {
  margin: 0;
  padding: 0; }

.row {
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.page-container {
  max-width: 100vw;
  overflow: hidden; }

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.content-margins {
  margin: 0 25px; }

h1 {
  font-size: 98px;
  line-height: 117px;
  font-family: 'Montserrat 800'; }

h2 {
  font-size: 88px;
  line-height: 91px;
  font-family: 'Montserrat 800'; }

h3 {
  font-size: 75px;
  line-height: 78px;
  font-family: 'Montserrat 800'; }

h4 {
  font-size: 59px;
  line-height: 65px;
  font-family: 'Montserrat 700'; }

h5 {
  font-size: 36px;
  line-height: 58px;
  font-family: 'Montserrat 400'; }

h6 {
  font-size: 15px;
  line-height: 20px;
  font-family: 'Montserrat 300'; }

h6.important {
  font-family: 'Montserrat 700'; }

p {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Montserrat 400'; }

a {
  font-size: 24px;
  line-height: 27px;
  font-family: 'Montserrat 700';
  text-decoration: none; }

a.menu {
  font-family: 'Montserrat 400'; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.button {
  width: 300px;
  display: block;
  line-height: 45px;
  transition: 0.2s;
  margin: 20px 0; }
  .button .button-text {
    font-size: 20px;
    display: inline-block;
    width: 224px;
    padding-left: 25px;
    height: 45px;
    border: 3px solid;
    border-right: none;
    transition: 0.2s; }
  .button .caret {
    display: inline-block;
    width: 45px;
    height: 45px;
    float: right;
    text-align: center;
    font-size: 1.8em;
    border: 3px solid;
    border-left: none; }

.red-button, .red-button:visited {
  color: #E21E26; }
  .red-button .button-text, .red-button:visited .button-text {
    border-color: #A51E22; }
  .red-button .caret, .red-button:visited .caret {
    background-color: #A51E22;
    border-color: #A51E22; }
  .red-button.toggle, .red-button:visited.toggle {
    border: none; }
    .red-button.toggle .button-text, .red-button:visited.toggle .button-text {
      color: #F38082;
      border-color: #E21E26;
      background-color: #E21E26;
      margin-left: 0; }
  .red-button:hover .button-text, .red-button:visited:hover .button-text {
    color: #fff;
    border-color: #A51E22;
    background-color: #A51E22;
    transition: 0.2s; }

.red-background {
  background-color: #E21E26;
  padding: 25px; }
  .red-background .red-button .button-text {
    color: #F38082; }
  .red-background .red-button.toggle .button-text {
    color: #A51E22;
    background-color: #fff;
    border-color: #fff; }
  .red-background .red-button:hover .button-text {
    background-color: #A51E22;
    border-color: #A51E22;
    color: #fff; }

.orange-button, .orange-button:visited {
  color: #F68C1E; }
  .orange-button .button-text, .orange-button:visited .button-text {
    border-color: #F16321; }
  .orange-button .caret, .orange-button:visited .caret {
    background-color: #F16321;
    border-color: #F16321; }
  .orange-button.toggle, .orange-button:visited.toggle {
    border: none; }
    .orange-button.toggle .button-text, .orange-button:visited.toggle .button-text {
      color: #FFD400;
      background-color: #F68C1E;
      border-color: #F68C1E;
      background: #F68C1E;
      margin-left: 0; }
  .orange-button:hover .button-text, .orange-button:visited:hover .button-text {
    color: #fff;
    border-color: #F16321;
    background-color: #F16321;
    transition: 0.2s; }

.orange-background {
  padding: 25px;
  background: #F68C1E; }
  .orange-background .orange-button .button-text {
    background-color: #F68C1E;
    color: #FFD400; }
  .orange-background .orange-button.toggle .button-text {
    color: #F16321;
    background-color: #fff;
    border-color: #fff; }
  .orange-background .orange-button:hover .button-text {
    background-color: #F16321;
    border-color: #F16321;
    color: #fff; }

.forest-button, .forest-button:visited {
  color: #009171; }
  .forest-button .button-text, .forest-button:visited .button-text {
    border-color: #007257; }
  .forest-button .caret, .forest-button:visited .caret {
    background-color: #007257;
    border-color: #007257; }
  .forest-button.toggle, .forest-button:visited.toggle {
    border: none; }
    .forest-button.toggle .button-text, .forest-button:visited.toggle .button-text {
      color: #4DBFA8;
      background-color: #009171;
      border-color: #009171;
      background: #009171;
      margin-left: 0; }
  .forest-button:hover .button-text, .forest-button:visited:hover .button-text {
    color: #fff;
    border-color: #007257;
    background-color: #007257;
    transition: 0.2s; }

.forest-background {
  padding: 25px;
  background: #009171; }
  .forest-background .forest-button .button-text {
    background-color: #009171;
    color: #4DBFA8; }
  .forest-background .forest-button.toggle .button-text {
    color: #007257;
    background-color: #fff;
    border-color: #fff; }
  .forest-background .forest-button:hover .button-text {
    background-color: #007257;
    border-color: #007257;
    color: #fff; }

.green-button, .green-button:visited {
  color: #84C440; }
  .green-button .button-text, .green-button:visited .button-text {
    border-color: #4F9843; }
  .green-button .caret, .green-button:visited .caret {
    background-color: #4F9843;
    border-color: #4F9843; }
  .green-button.toggle, .green-button:visited.toggle {
    border: none; }
    .green-button.toggle .button-text, .green-button:visited.toggle .button-text {
      color: #d4de24;
      background-color: #84C440;
      border-color: #84C440;
      background: #84C440;
      margin-left: 0; }
  .green-button:hover .button-text, .green-button:visited:hover .button-text {
    color: #fff;
    border-color: #4F9843;
    background-color: #4F9843;
    transition: 0.2s; }

.green-background {
  padding: 25px;
  background: #84C440; }
  .green-background .green-button .button-text {
    background-color: #84C440;
    color: #d4de24; }
  .green-background .green-button.toggle .button-text {
    color: #4F9843;
    background-color: #fff;
    border-color: #fff; }
  .green-background .green-button:hover .button-text {
    background-color: #4F9843;
    border-color: #4F9843;
    color: #fff; }

/*# sourceMappingURL=app.css.map */
