// ******
// colors
// ******

$yellow: #FFD400;
$orange: #F68C1E;
$dark-orange: #F16321;
$aqua: #4DBFA8;
$forest: #009171;
$dark-forest: #007257;
$lime: #d4de24;
$green: #84C440;
$dark-green: #4F9843;
$pink: #F38082;
$red: #E21E26;
$dark-red: #A51E22;
$white: #fff;
