<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" />
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>

  <div class="page-container">

    <nav class="nav nav-desktop">
      <div class="inner">
        <div class="content-margins">
          <div class="logo">
            <a href="/">
              <img src="/assets/img/alternative-color-bg/lime-logo.png" alt="nav-logo">
            </a>
          </div>
          <ul>
            <li>
              <a class="menu" href="/">Home</a>
            </li>
            <li class="divider">
              |
            </li>
            <li>
              <a class="menu" href="#">Lifestyle</a>
            </li>
            <li class="divider">
              |
            </li>
            <li>
              <a class="menu" href="#">Products</a>
            </li>
            <li class="divider">
              |
            </li>
            <li>
              <a class="menu" href="#">Our Company</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <footer>
      <div class="inner">
        <div class="content-margins">

          <div class="row social-row">
            <div class="col-xs-12 col-sm-6">
              <img class="footer-logo" src="/assets/img/alternative-color-bg/footer-logo.png" alt="footer-logo" />
            </div>
            <div class="col-xs-12 col-sm-6">
              <ul class="social-icons">
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/assets/img/social-icons/facebook.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/assets/img/social-icons/instagram.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/assets/img/social-icons/pinterest.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/assets/img/social-icons/twitter.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/assets/img/social-icons/youtube.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="sub-footer">
        <div class="inner">
          <div class="content-margins">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <ul>
                  <li>
                    <a class="menu" href="#">Terms and Conditions</a>
                  </li>
                  <li class="divider">
                    |
                  </li>
                  <li>
                    <a class="menu" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 right">
                <p>
                  ©2019 Model my Lifestyle. All rights reserved
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </footer>



  </div>
  <!-- end container -->
  </body>
